name: Create Release
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout source
        uses: actions/checkout@v1

      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install Ionic
        run: npm install -g @ionic/cli

      - name: Install app dependencies
        run: npm install --force

      - name: Build
        run: ionic build

      - name: Add Android and ios platform
        run: |
          npx cap add android
          npx cap add ios

      - name: Upload Android folder
        uses: actions/upload-artifact@v1
        with:
          name: android-artifact
          path: android/

      - name: Upload Android Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: android-artifact
          tag: "latest43"
          token: ${{ secrets.GITHUB_TOKEN }}

#
#      - name: Upload ios folder
#        uses: actions/upload-artifact@v1
#        with:
#          name: ios-artifact
#          path: ios/

      - name: Generate the Android App Bundle
        working-directory: ./android/
        run: |
          ./gradlew bundle
          ./gradlew assembleDebug
          ./gradlew installDebug

      - name: Upload dev APK
        uses: actions/upload-artifact@v1
        with:
          name: app-dev
          path: android/app/build/outputs/


#      - uses: actions/checkout@master
#      - name: Archive Release
#        uses: thedoctor0/zip-release@master
#        with:
#
#          filename: 'release.zip'
#          exclusions: '*.git* /*node_modules/* .editorconfig'
#

